In [1]:
from google.colab import drive
from sklearn import metrics
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

%matplotlib inline
import os
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
print(os.listdir("/content/gdrive/MyDrive"))

['Getting started.pdf', 'WP_20170419_100.jpg', 'WP_20170419_098.jpg', 'WP_20170419_099.jpg', 'WP_20170419_101.jpg', 'WP_20170419_103.jpg', 'WP_20170419_102.jpg', 'WP_20170419_104.jpg', 'WP_20170419_107.jpg', 'WP_20170419_106.jpg', 'WP_20170419_109.jpg', 'WP_20170419_113.jpg', 'WP_20170419_110.jpg', 'WP_20170419_114.jpg', 'WP_20170419_117.jpg', 'WP_20170419_115.jpg', 'WP_20170419_118.jpg', 'WP_20170419_121.jpg', 'WP_20170419_127.jpg', 'WP_20170419_128.jpg', 'WP_20170419_131.jpg', 'facerecognition.py', 'AI Introduction.pptx', 'aup6.py', 'aup1.py', 'aup2.py', 'aup3.py', 'amazoncode.py', 'annregression.py', 'Artificial Intelligence.pptx', 'characterrecognition using svm.py', 'digitrecognition using MLP.py', 'edgedetection.py', 'facedetection.py', 'facedetectionbest.py', 'finalselfdrivingcar.py', 'haarcascade_eye.xml', 'haarcascade_frontalface_alt2.xml', 'imageprocessing.py', 'linearregressionmodel.py', 'linearregressiontoday.py', 'linearregressionusingsklearn.py', 'Machine learninig.pptx', 'aup4.py', 'aup5.py', 'backprpagationalgorithm.py', 'breast-cancer-wisconsin.data.txt', 'Contacts ', 'Untitled presentation (1).gslides', 'Project 1 (1).gslides', 'Project.pptx', 'Project (1).pptx.gslides', 'Project 1.gslides', 'healthyhabits-150202144536-conversion-gate02', 'healthyhabits-150202144536-conversion-gate02.gslides', 'Project.pptx.gslides', 'hack.pptx.gslides', 'Report.gdoc', 'Untitled document (6).gdoc', 'Aduri.pdf', 'Document from Omesh.pdf', 'maths - Page 32.pdf', 'chemistry text.pdf', '2018062517062.pdf', 'NAME: M OMESH.gdoc', 'wall paintings.gdoc', 'labsheets.gdoc', 'Embeded Case Study - S4 CSE A.gdoc', 'ES_casestudy (1).gdoc', 'ES_casestudy.gdoc', 'May-024.jpg', 'May-025.jpg', 'Untitled document (5).gdoc', 'Paytm_Statement_financial_year_18_19_8317613552.csv', 'Paytm_Statement_financial_year_18_19_8317613552.gsheet', 'Untitled presentation.gslides', 'EVS Presentation.pptx', 'Am (5).en.u4cse17310.tar.gz', 'Am (4).en.u4cse17310.tar.gz', 'Am (3).en.u4cse17310.tar.gz', 'Am (2).en.u4cse17310.tar.gz', 'Am (1).en.u4cse17310.tar.gz', 'Am.en.u4cse17310.tar.gz', 'Am.en.u4cse17310.zip', 'u4cse17310 (4).zip', 'u4cse17310 (3).zip', 'u4cse17310 (2).zip', 'u4cse17310 (1).zip', 'u4cse17310.zip', 'DBMS Review 2.gsheet', 'Untitled presentation.pdf', 'Courier Tracking System_V2.0.gdoc', 'Computer Networks Lab -3(DNS).gdoc', 'Compiler Design Tutorial-6.gdoc', '_PR_7096.JPG', '_PR_7098.JPG', '_PR_7100.JPG', '_PR_7099.JPG', '_PR_7101.JPG', 'srinu bava pics- Harish n Susmita Engagement.zip', 'Part A.gdoc', 'CLR(1).gdoc', 'Block chain based final year project idea.gdoc', 'Notes on se project by omesh.gdoc', 'C13 Project Proposal.gdoc', 'C13 Group Project Proposal.gdoc', 'Untitled document (4).gdoc', 'Majety_Omesh_Resume (AM.EN.U4CSE17310).pdf.pdf) Ver_2.0-converted.gdoc', 'Untitled document (3).gdoc', 'Majety_Omesh_Resume.docx', 'Electricals.gsheet', 'Untitled document (2).gdoc', 'Nift.gdoc', 'Majety_Omesh_Resume (AM.EN.U4CSE17310).pdf.pdf) Ver_2.0 (1).pdf', 'Majety_Omesh_Resume (AM.EN.U4CSE17310).pdf.pdf) Ver_2.0.pdf', 'SE.rar', 'SE.zip', 'OOPS.zip', 'Business Card 21-Jul-2020.pdf', 'card reordet.pdf', 'card reordet (1).gdoc', 'card reordet.gdoc', 'Untitled document (1).gdoc', '5_6190588443945337564.ipynb.gdoc', 'Majety Omesh Resume.pdf', 'Colab Notebooks', '1Aptean _ Job Announcement for BE _ B.Tech â€“ 2021 Batch regd-Final.xlsx', 'Neighborhood Development.gslides', 'Resume', 'Majety_omesh_resume1.gdoc', 'Untitled document.gdoc', '545695171130920.pdf', 'PYP Phase 1.gdoc', 'FYP Phase1--SurveyDocument.gdoc', 'data.txt', 'Majety Omesh(AM.EN.U4CSE17310).mp4', 'Assignment III_Big_Data.gsheet', 'test3.csv', 'Machine_Learning_Phase-3.gdoc', 'train3.csv']

In [4]:
train = pd.read_csv('/content/gdrive/MyDrive/train3.csv')
test = pd.read_csv('/content/gdrive/MyDrive/test3.csv')

In [5]:
print("train data shape: ",train.shape)
print("Test data shape: ",test.shape)

train data shape:  (150150, 9)
Test data shape:  (13860, 8)

In [6]:
train.head()

   record_ID      week  store_id  ...  is_featured_sku  is_display_sku  units_sold
0          1  17/01/11      8091  ...                0               0          20
1          2  17/01/11      8091  ...                0               0          28
2          3  17/01/11      8091  ...                0               0          19
3          4  17/01/11      8091  ...                0               0          44
4          5  17/01/11      8091  ...                0               0          52

[5 rows x 9 columns]

In [7]:
train.isnull().sum()

record_ID          0
week               0
store_id           0
sku_id             0
total_price        1
base_price         0
is_featured_sku    0
is_display_sku     0
units_sold         0
dtype: int64